.mta_community {
    padding: 50px 0;

    background-color: #000000;

    border-top: 1px solid;
    border-color: rgba($color: #FFFFFF, $alpha: 0.1);

    .mta_community_content {
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        h1 {
            font-weight: 600;
            font-size: 2rem;
    
            color: #FFFFFF;
        }

        .mta_community_nav {
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .mta_community_link {
                font-size: 0;
                text-decoration: none;

                img {
                    width: 100px;
                    height: auto;

                    transition: 0.2s ease;

                    &:hover {
                        filter: grayscale(100%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .mta_community {
        .mta_community_content {
            align-items: center;

            h1 {
                text-align: center;
            }

            .mta_community_nav {
                justify-content: center;
                gap: 3rem;

                .mta_community_link {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }
}